build/
pynlopol/__pycache__/
pynlopol.egg-info/
dist/
docs/
examples/
*.pyc
*.png
*.gif
todo.txt
*.vscode/
scripts/PolStates.dat
*accel*.npy
*accel*.zip
fitdata.npy
test_data/
scripts/PolStates*.dat
scripts/*.zip
testing-venv/
